{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>


            <div id="content">
                {% block content %}
                {% endblock %}
            </div>




         <div id="sidebar" class="alert alert-info well" >
             <h2>Open Hearts</h2>
             <p>This is a place where you can share your story and can become an inspiration for others.</p>




             <h3>Latest posts</h3>
             {% show_latest_posts 3 %}

             <h3>Most commented posts</h3>
             {% get_most_commented_posts 3 %}



       </div>


        

</body>
</html>
